body {
  /*

	background-size: 5%;
	background-repeat: repeat-x repeat-y;
	*/
}

.container.loginContainer {
  width: 300px;
  min-height: 400px;
}

.box {
  display: flex;
  justify-content: center;
  /* align-self: center;    <---- REMOVE */
  align-items: center;   /* <---- NEW    */
  background: silver;
}

@keyframes mymove {
  from {
    background-color: #add8e6;
  }
  20% {
    background-color: #2f4f4f;
  }
  40% {
    background-color: #5f9ea0;
  }
  60% {
    background-color: #e0ffff;
  }
  80% {
    background-color: #20b2aa;
  }
  to {
    background-color: #add8e6;
  }
}

.login-new {
  background-color: red;
}

.login {
  display: grid;
  row-gap: 0px;
  float: left;
  background-color: #ffffef;
  overflow: hidden;
  font-size: 1vw;
  max-height: 59vh;
  width: 30vw;
  height: 30vw;
  left: 0;
  margin-left: 20vw;
  margin-top: 10vh;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.title {
  grid-row: 1;
  font-size: 2vw;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #2f4f4f;
}

.subtitle {
  grid-row: 2;
  font-size: 1.5vw;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #2f4f4f4f;
}

.loginTitle {
  grid-row: 3;
  font-size: 1vw;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #2f4f4f;
}

.loginData {
  display: inline-block;
  grid-row: 4;
  display: grid;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 1vw;
  color: #696969;
}

.loginLabel {
  display: inline-block;
  text-align: center;
}

.dataEntry {
  border: 1px solid lightgray;
  display: inline-block;
  border-radius: 20px;
  text-align: center;
  margin: auto;
  width: 80%;
  font-family: "Roboto", sans-serif;
}

#loginStatus {
  grid-row: 5;
}
#errorDump {
  grid-row: 5;
}

.buttons {
  grid-row: 6;
  font-size: 1vw;
  border-radius: 25px;
  width: 25%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

.buttons:hover {
  background-color: #696969;
  color: #69696969;
  opacity: 50%;
}

a:link {
  font-size: small;
  color: rgb(74, 154, 246);
  background-color: transparent;
  text-decoration: none;
}

.createAccount {
  font-size: 10px;
  border-radius: 25px;
  width: 90%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

.phoneImage {
  float: left;
  max-height: 60%;
  width: 30vw;
  height: 30vw;
  margin-top: 10vh;
}

.contactical {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  position: relative;
  left: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.contacticalHand {
  /* display: block; */
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  left: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
/* CREATE ACCOUNT */
